<%- include('layouts/layout', { 
    title: 'Блог',
    body: `
<div class="container" style="padding: 80px 0; text-align: center;">
    <h2 class="section-title">Блог</h2>
    <p>Сторінка в розробці. Скоро тут будуть цікаві статті про каву та наш заклад!</p>
    <i class="fas fa-book-open" style="font-size: 4rem; color: #d4af37; margin-top: 40px; display: inline-block;"></i>
</div>
`,
    pageStyles: '',
    pageScripts: ''
}) %>